body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000; /* Altere a cor de fundo da página conforme necessário */
}

.login-container {
    text-align: center;
    color: #ffffff; /* Altere a cor do texto conforme necessário */
}

input {
    margin-bottom: 15px;
    padding: 10px;
    color: #ccc; /* Altere a cor do texto dentro do input conforme necessário */
    background-color: #000000; /* Cor de fundo do input */
    border: 1px solid #ccc; /* Cor da borda do input */
    border-radius: 5px; /* Borda arredondada */
    width: 100%; /* Preenchimento total da largura */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total do input */
    transition: border-color 0.3s ease; /* Efeito de transição na borda */
}

input:focus {
    border-color: #000000; /* Cor da borda quando o input está em foco */
}

button {
    padding: 12px 24px;
    color: #fff;
    background-color: #2c2c2c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000; /* Altere a cor de destaque ao passar o mouse */
}
